@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');

body {
  text-align : center;
  font-family: 'Roboto', sans-serif;
}
.main img {
  width : 70%;
  vertical-align: middle;
}
.navi {
  text-align: center;
}
button {
  margin: 10px auto;
  font-size: 24px;
}
.title {
  font-size: xx-large;
}
.thumbnails .selected {
  opacity: 1.0;
}
